{% extends "site/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section class="full-row py-5 bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="forget_password w-50 m-auto">
					<div class="login_form">
                          <h1 class="color-primary mb-4">  {% trans "Change Password" %}</h1>
                         <p>{% trans 'Your password is now changed.' %}</p>



				</div>
			</div>
		</div>
	</div>
</section>




{% endblock %}

{% endblock %}
