{% extends 'dashboard_base.html' %}
{% load static %}

{% block body %}
				<div class="col-md-11 col-xl-10 bg-gray">
					<div class="row">
						<div class="full-row deshbord_panel w-100 mb-5">
							<h4 class="color-primary mb-4">Enquire Send List</h4>
							<ul class="message_list color-secondery mt-4">
								<li>
									<div class="row">
										<div class="col-md-9 col-lg-10">
											<div class="float-left mr-4"><img src="{% static 'images/team/01.jpg' %}" alt=""></div>
											<div class="d-table">
												<h5 class="inner_title"><a class="color-primary" href="#">Valerie G. Terrones</a><a href="#" class="appartment color-default ml-3">On Apolo Family Appartment</a></h5>
												<p>Adipiscing viverra tincidunt gravida torquent vivamus venenatis sit bibendum quisque pharetra elementum maecenas</p>
												<div class="message_action color-default-a mt-2">
													<a href="#">View | </a>
													<a href="#">Delete</a>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-lg-2">
											<div class="date_time mt-4 text-right">
												<span>20 Jan, 2019</span>
												<span>10:10 AM</span>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="row">
										<div class="col-md-9 col-lg-10">
											<div class="float-left mr-4"><img src="{% static 'images/team/02.jpg' %}" alt=""></div>
											<div class="d-table">
												<h5 class="inner_title"><a class="color-primary" href="#">Valerie G. Terrones</a><a href="#" class="appartment color-default ml-3">On Apolo Family Appartment</a></h5>
												<p>Adipiscing viverra tincidunt gravida torquent vivamus venenatis sit bibendum quisque pharetra elementum maecenas</p>
												<div class="message_action color-default-a mt-2">
													<a href="#">View | </a>
													<a href="#">Delete</a>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-lg-2">
											<div class="date_time mt-4 text-right">
												<span>20 Jan, 2019</span>
												<span>10:10 AM</span>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="row">
										<div class="col-md-9 col-lg-10">
											<div class="float-left mr-4"><img src="{% static 'images/team/03.jpg' %}" alt=""></div>
											<div class="d-table">
												<h5 class="inner_title"><a class="color-primary" href="#">Valerie G. Terrones</a><a href="#" class="appartment color-default ml-3">On Apolo Family Appartment</a></h5>
												<p>Adipiscing viverra tincidunt gravida torquent vivamus venenatis sit bibendum quisque pharetra elementum maecenas</p>
												<div class="message_action color-default-a mt-2">
													<a href="#">View | </a>
													<a href="#">Delete</a>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-lg-2">
											<div class="date_time mt-4 text-right">
												<span>20 Jan, 2019</span>
												<span>10:10 AM</span>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="row">
										<div class="col-md-9 col-lg-10">
											<div class="float-left mr-4"><img src="{% static 'images/team/04.jpg' %}" alt=""></div>
											<div class="d-table">
												<h5 class="inner_title"><a class="color-primary" href="#">Valerie G. Terrones</a><a href="#" class="appartment color-default ml-3">On Apolo Family Appartment</a></h5>
												<p>Adipiscing viverra tincidunt gravida torquent vivamus venenatis sit bibendum quisque pharetra elementum maecenas</p>
												<div class="message_action color-default-a mt-2">
													<a href="#">View | </a>
													<a href="#">Delete</a>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-lg-2">
											<div class="date_time mt-4 text-right">
												<span>20 Jan, 2019</span>
												<span>10:10 AM</span>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="row">
										<div class="col-md-9 col-lg-10">
											<div class="float-left mr-4"><img src="{% static 'images/team/05.jpg' %}" alt=""></div>
											<div class="d-table">
												<h5 class="inner_title"><a class="color-primary" href="#">Valerie G. Terrones</a><a href="#" class="appartment color-default ml-3">On Apolo Family Appartment</a></h5>
												<p>Adipiscing viverra tincidunt gravida torquent vivamus venenatis sit bibendum quisque pharetra elementum maecenas</p>
												<div class="message_action color-default-a mt-2">
													<a href="#">View | </a>
													<a href="#">Delete</a>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-lg-2">
											<div class="date_time mt-4 text-right">
												<span>20 Jan, 2019</span>
												<span>10:10 AM</span>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="row">
										<div class="col-md-9 col-lg-10">
											<div class="float-left mr-4"><img src="{% static 'images/team/06.jpg' %}" alt=""></div>
											<div class="d-table">
												<h5 class="inner_title"><a class="color-primary" href="#">Valerie G. Terrones</a><a href="#" class="appartment color-default ml-3">On Apolo Family Appartment</a></h5>
												<p>Adipiscing viverra tincidunt gravida torquent vivamus venenatis sit bibendum quisque pharetra elementum maecenas</p>
												<div class="message_action color-default-a mt-2">
													<a href="#">View | </a>
													<a href="#">Delete</a>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-lg-2">
											<div class="date_time mt-4 text-right">
												<span>20 Jan, 2019</span>
												<span>10:10 AM</span>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="row">
										<div class="col-md-9 col-lg-10">
											<div class="float-left mr-4"><img src="{% static 'images/team/07.jpg' %}" alt=""></div>
											<div class="d-table">
												<h5 class="inner_title"><a class="color-primary" href="#">Valerie G. Terrones</a><a href="#" class="appartment color-default ml-3">On Apolo Family Appartment</a></h5>
												<p>Adipiscing viverra tincidunt gravida torquent vivamus venenatis sit bibendum quisque pharetra elementum maecenas</p>
												<div class="message_action color-default-a mt-2">
													<a href="#">View | </a>
													<a href="#">Delete</a>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-lg-2">
											<div class="date_time mt-4 text-right">
												<span>20 Jan, 2019</span>
												<span>10:10 AM</span>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="row">
										<div class="col-md-9 col-lg-10">
											<div class="float-left mr-4"><img src="{% static 'images/team/08.jpg' %}" alt=""></div>
											<div class="d-table">
												<h5 class="inner_title"><a class="color-primary" href="#">Valerie G. Terrones</a><a href="#" class="appartment color-default ml-3">On Apolo Family Appartment</a></h5>
												<p>Adipiscing viverra tincidunt gravida torquent vivamus venenatis sit bibendum quisque pharetra elementum maecenas</p>
												<div class="message_action color-default-a mt-2">
													<a href="#">View | </a>
													<a href="#">Delete</a>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-lg-2">
											<div class="date_time mt-4 text-right">
												<span>20 Jan, 2019</span>
												<span>10:10 AM</span>
											</div>
										</div>
									</div>
								</li>
							</ul>

							<nav aria-label="Page navigation" class="alinment d-table pt-5">
							  <ul class="pagination">
							    <li class="page-item"><a class="page-link active" href="#">Previous</a></li>
							    <li class="page-item"><a class="page-link active" href="#">1</a></li>
							    <li class="page-item"><a class="page-link" href="#">2</a></li>
							    <li class="page-item"><a class="page-link" href="#">3</a></li>
							    <li class="page-item">...</li>
							    <li class="page-item"><a class="page-link" href="#">45</a></li>
							    <li class="page-item"><a class="page-link active" href="#">Next</a></li>
							  </ul>
							</nav>

						</div>

					</div>
				</div>

{% endblock body %}