{% extends 'dashboard_base.html' %}
{% load static %}

{% block body %}


				<div class="col-md-11 col-xl-10 bg-gray">
					<div class="row">
						<div class="full-row deshbord_panel w-100 mb-5">
							<h4 class="color-primary mb-4">Enquire Request List</h4>

							<div class="items_list color-secondery">
								<table class="w-100">
									<thead>
										<tr>
											<th>Id</th>
											<th>Name</th>
											<th>Date / Time</th>
											<th>Property</th>
											<th>Start Date</th>
											<th>User Info</th>
											<th>Exception</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>#224</td>
											<td>David A. Williams</td>
											<td class="date_time">
												<span>5 Jan, 2019</span>
												<span>2:32PM</span>
											</td>
											<td>
												<h6 class="color-primary">Real Luxury Villa</h6>
												<p>1812 Spruce Drive Belle Vernon, PA 15012</p>
											</td>
											<td>10 Jan, 2019</td>
											<td>
												<span>724-930-6762</span>
												<span>company@example.com</span>
											</td>
											<td>
												<a href="#" class="btn btn-default1 mr-1">View</a>
												<a href="#" class="btn btn-default1">Approve</a>
											</td>
										</tr>
										<tr>
											<td>#224</td>
											<td>David A. Williams</td>
											<td class="date_time">
												<span>5 Jan, 2019</span>
												<span>2:32PM</span>
											</td>
											<td>
												<h6 class="color-primary">Real Luxury Villa</h6>
												<p>1812 Spruce Drive Belle Vernon, PA 15012</p>
											</td>
											<td>10 Jan, 2019</td>
											<td>
												<span>724-930-6762</span>
												<span>company@example.com</span>
											</td>
											<td>
												<a href="#" class="btn btn-default1 mr-1">View</a>
												<a href="#" class="btn btn-default1">Approve</a>
											</td>
										</tr>
										<tr>
											<td>#224</td>
											<td>David A. Williams</td>
											<td class="date_time">
												<span>5 Jan, 2019</span>
												<span>2:32PM</span>
											</td>
											<td>
												<h6 class="color-primary">Real Luxury Villa</h6>
												<p>1812 Spruce Drive Belle Vernon, PA 15012</p>
											</td>
											<td>10 Jan, 2019</td>
											<td>
												<span>724-930-6762</span>
												<span>company@example.com</span>
											</td>
											<td>
												<a href="#" class="btn btn-default1 mr-1">View</a>
												<a href="#" class="btn btn-default1">Approve</a>
											</td>
										</tr>
										<tr>
											<td>#224</td>
											<td>David A. Williams</td>
											<td class="date_time">
												<span>5 Jan, 2019</span>
												<span>2:32PM</span>
											</td>
											<td>
												<h6 class="color-primary">Real Luxury Villa</h6>
												<p>1812 Spruce Drive Belle Vernon, PA 15012</p>
											</td>
											<td>10 Jan, 2019</td>
											<td>
												<span>724-930-6762</span>
												<span>company@example.com</span>
											</td>
											<td>
												<a href="#" class="btn btn-default1 mr-1">View</a>
												<a href="#" class="btn btn-default1">Approve</a>
											</td>
										</tr>
										<tr>
											<td>#224</td>
											<td>David A. Williams</td>
											<td class="date_time">
												<span>5 Jan, 2019</span>
												<span>2:32PM</span>
											</td>
											<td>
												<h6 class="color-primary">Real Luxury Villa</h6>
												<p>1812 Spruce Drive Belle Vernon, PA 15012</p>
											</td>
											<td>10 Jan, 2019</td>
											<td>
												<span>724-930-6762</span>
												<span>company@example.com</span>
											</td>
											<td>
												<a href="#" class="btn btn-default1 mr-1">View</a>
												<a href="#" class="btn btn-default1">Approve</a>
											</td>
										</tr>
										<tr>
											<td>#224</td>
											<td>David A. Williams</td>
											<td class="date_time">
												<span>5 Jan, 2019</span>
												<span>2:32PM</span>
											</td>
											<td>
												<h6 class="color-primary">Real Luxury Villa</h6>
												<p>1812 Spruce Drive Belle Vernon, PA 15012</p>
											</td>
											<td>10 Jan, 2019</td>
											<td>
												<span>724-930-6762</span>
												<span>company@example.com</span>
											</td>
											<td>
												<a href="#" class="btn btn-default1 mr-1">View</a>
												<a href="#" class="btn btn-default1">Approve</a>
											</td>
										</tr>
										<tr>
											<td>#224</td>
											<td>David A. Williams</td>
											<td class="date_time">
												<span>5 Jan, 2019</span>
												<span>2:32PM</span>
											</td>
											<td>
												<h6 class="color-primary">Real Luxury Villa</h6>
												<p>1812 Spruce Drive Belle Vernon, PA 15012</p>
											</td>
											<td>10 Jan, 2019</td>
											<td>
												<span>724-930-6762</span>
												<span>company@example.com</span>
											</td>
											<td>
												<a href="#" class="btn btn-default1 mr-1">View</a>
												<a href="#" class="btn btn-default1">Approve</a>
											</td>
										</tr>
										<tr>
											<td>#224</td>
											<td>David A. Williams</td>
											<td class="date_time">
												<span>5 Jan, 2019</span>
												<span>2:32PM</span>
											</td>
											<td>
												<h6 class="color-primary">Real Luxury Villa</h6>
												<p>1812 Spruce Drive Belle Vernon, PA 15012</p>
											</td>
											<td>10 Jan, 2019</td>
											<td>
												<span>724-930-6762</span>
												<span>company@example.com</span>
											</td>
											<td>
												<a href="#" class="btn btn-default1 mr-1">View</a>
												<a href="#" class="btn btn-default1">Approve</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<nav aria-label="Page navigation" class="alinment d-table pt-5">
							  <ul class="pagination">
							    <li class="page-item"><a class="page-link active" href="#">Previous</a></li>
							    <li class="page-item"><a class="page-link active" href="#">1</a></li>
							    <li class="page-item"><a class="page-link" href="#">2</a></li>
							    <li class="page-item"><a class="page-link" href="#">3</a></li>
							    <li class="page-item">...</li>
							    <li class="page-item"><a class="page-link" href="#">45</a></li>
							    <li class="page-item"><a class="page-link active" href="#">Next</a></li>
							  </ul>
							</nav>

						</div>
						<div class="dashboard_copyright bg-white py-4 color-secondery text-center">© 2019 Homex All right reserved</div>
					</div>
				</div>
{% endblock %}