{% extends 'dashboard_base.html' %}
{% load static %}

{% block body %}
			<div class="col-md-11 col-xl-10 bg-gray">
					<div class="row">
						<div class="full-row deshbord_panel w-100 mb-5">
							<h4 class="color-primary mb-4">List of Favorite Property</h4>

							<div class="items_list bg_transparent color-secondery icon_default">
								<table class="w-100">
									<thead>
										<tr class="bg-white">
											<th>Properties</th>
											<th>Added Date</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<img src="{% static 'images/thumbnail/01.jpg' %}" alt="">
												<div class="property_info d-table">
													<h5 class="color-primary">Apolo Family Appartment</h5>
													<span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue South Burlington, Los Angles</span>
													<div class="price mt-3">
														<span class="color-default">$212,000</span>
														<span>/ Fixed Amount</span>
													</div>
												</div>
											</td>
											<td>10 Jan, 2019</td>
											<td>
												<a href="#" class="btn btn-default1">Delete</a>
											</td>
										</tr>
										<tr>
											<td>
												<img src="{% static 'images/thumbnail/01.jpg' %}" alt="">
												<div class="property_info d-table">
													<h5 class="color-primary">Apolo Family Appartment</h5>
													<span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue South Burlington, Los Angles</span>
													<div class="price mt-3">
														<span class="color-default">$212,000</span>
														<span>/ Fixed Amount</span>
													</div>
												</div>
											</td>
											<td>10 Jan, 2019</td>
											<td>
												<a href="#" class="btn btn-default1">Delete</a>
											</td>
										</tr>
										<tr>
											<td>
												<img src="{% static 'images/thumbnail/01.jpg' %}" alt="">
												<div class="property_info d-table">
													<h5 class="color-primary">Apolo Family Appartment</h5>
													<span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue South Burlington, Los Angles</span>
													<div class="price mt-3">
														<span class="color-default">$212,000</span>
														<span>/ Fixed Amount</span>
													</div>
												</div>
											</td>
											<td>10 Jan, 2019</td>
											<td>
												<a href="#" class="btn btn-default1">Delete</a>
											</td>
										</tr>
										<tr>
											<td>
												<img src="{% static 'images/thumbnail/01.jpg' %}" alt="">
												<div class="property_info d-table">
													<h5 class="color-primary">Apolo Family Appartment</h5>
													<span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue South Burlington, Los Angles</span>
													<div class="price mt-3">
														<span class="color-default">$212,000</span>
														<span>/ Fixed Amount</span>
													</div>
												</div>
											</td>
											<td>10 Jan, 2019</td>
											<td>
												<a href="#" class="btn btn-default1">Delete</a>
											</td>
										</tr>
										<tr>
											<td>
												<img src="{% static 'images/thumbnail/01.jpg' %}" alt="">
												<div class="property_info d-table">
													<h5 class="color-primary">Apolo Family Appartment</h5>
													<span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue South Burlington, Los Angles</span>
													<div class="price mt-3">
														<span class="color-default">$212,000</span>
														<span>/ Fixed Amount</span>
													</div>
												</div>
											</td>
											<td>10 Jan, 2019</td>
											<td>
												<a href="#" class="btn btn-default1">Delete</a>
											</td>
										</tr>
										<tr>
											<td>
												<img src="{% static 'images/thumbnail/01.jpg' %}" alt="">
												<div class="property_info d-table">
													<h5 class="color-primary">Apolo Family Appartment</h5>
													<span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue South Burlington, Los Angles</span>
													<div class="price mt-3">
														<span class="color-default">$212,000</span>
														<span>/ Fixed Amount</span>
													</div>
												</div>
											</td>
											<td>10 Jan, 2019</td>
											<td>
												<a href="#" class="btn btn-default1">Delete</a>
											</td>
										</tr>
										<tr>
											<td>
												<img src="{% static 'images/thumbnail/01.jpg' %}" alt="">
												<div class="property_info d-table">
													<h5 class="color-primary">Apolo Family Appartment</h5>
													<span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue South Burlington, Los Angles</span>
													<div class="price mt-3">
														<span class="color-default">$212,000</span>
														<span>/ Fixed Amount</span>
													</div>
												</div>
											</td>
											<td>10 Jan, 2019</td>
											<td>
												<a href="#" class="btn btn-default1">Delete</a>
											</td>
										</tr>
										<tr>
											<td>
												<img src="{% static 'images/thumbnail/01.jpg' %}" alt="">
												<div class="property_info d-table">
													<h5 class="color-primary">Apolo Family Appartment</h5>
													<span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue South Burlington, Los Angles</span>
													<div class="price mt-3">
														<span class="color-default">$212,000</span>
														<span>/ Fixed Amount</span>
													</div>
												</div>
											</td>
											<td>10 Jan, 2019</td>
											<td>
												<a href="#" class="btn btn-default1">Delete</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<nav aria-label="Page navigation" class="alinment d-table pt-5">
							  <ul class="pagination">
							    <li class="page-item"><a class="page-link active" href="#">Previous</a></li>
							    <li class="page-item"><a class="page-link active" href="#">1</a></li>
							    <li class="page-item"><a class="page-link" href="#">2</a></li>
							    <li class="page-item"><a class="page-link" href="#">3</a></li>
							    <li class="page-item">...</li>
							    <li class="page-item"><a class="page-link" href="#">45</a></li>
							    <li class="page-item"><a class="page-link active" href="#">Next</a></li>
							  </ul>
							</nav>

						</div>
 					</div>
				</div>

{% endblock body %}