{% extends 'dashboard_base.html' %}
{% load static %}

{% block body %}

			<div class="col-md-11 col-xl-10 bg-gray">
					<div class="row">
						<div class="full-row deshbord_panel w-100 mb-5">
							<h4 class="color-primary mb-4">Submit Property for sell</h4>

							<div class="submit_form color-secondery icon_primary p-5 bg-white">
								<form>
									{% csrf_token %}
									{{form.media}}
									<div class="description">
										<h5 class="color-primary">Basic Information</h5>
										<hr>
										<div class="row">
											<div class="col-lg-12 col-md-12">
												<div class="form-group">
													<label>Property Title</label><span class="ml-2 fa-2x"><i title="Property Title" class="" aria-hidden="true"></i></span>
													 {{form.title.errors}}
													{{form.title}}
 												</div>
											</div>
											<div class="col-lg-6 col-md-12">
												<div class="form-group">
													<label>Property Category</label>
													{{form.category.errors}}
													 {{form.category}}
												</div>
											</div>
											<div class="col-lg-6 col-md-12">
												<div class="form-group">
												<label>Property Types</label>
													{{form.type.errors}}
													 {{form.type}}
												</div>
											</div>
											<div class="col-lg-4 col-md-12">
												<div class="form-group">
													<label>Min Price</label><span class="ml-2 fa-2x"><i title="Property Price" class="" aria-hidden="true"></i></span>
													 {{ form.min_price.errors}}
													{{form.min_price}}
												</div>
											</div>
											<div class="col-lg-4 col-md-12">
												<div class="form-group">
													<label>Max Price</label><span class="ml-2 fa-2x"><i title="Property Price" class="" aria-hidden="true"></i></span>
													 {{form.max_price.errors}}
													{{form.min_price}}
												</div>
											</div>


											<div class="col-lg-5">
											</div>
										</div>
									</div>
									<div class="description mt-4">
										<h5 class="color-primary">Full Description</h5>
										<hr>
										<div class="row">
											<div class="col-lg-12 col-md-12">
												<div class="form-group">

													{{form.full_description.errors}}
													{{form.full_description}}
 												</div>
											</div>
										</div>
									</div>

									<div class="description mt-4">
										<h5 class="color-primary">Key Features</h5>
										<hr>
										<div class="row">
											<div class="col-lg-12 col-md-12">
												<div class="form-group">

													{{form.key_features.errors}}
													{{form.key_features}}
 												</div>
											</div>
										</div>
									</div>

									<div class="property-location mt-4">
										<h5 class="color-primary">Property Location</h5>
										<hr>
										<div class="row">
											<div class="col-lg-6 col-md-6">
												<div class="form-group">
													<label>Location</label>
													{{form.location.errors}}
													{{form.location}}

 												</div>
											</div>
													<div class="col-lg-6 col-md-6">
												<div class="form-group">
													<label>Google Map URL</label>
													{{form.google_map.errors}}
													{{form.google_map}}

 												</div>
											</div>
											<div class="col-lg-6 col-md-6">
												<div class="form-group">
													<label>Status</label>
													 {{form.status.errors}}
													{{form.status}}
												</div>
											</div>



										</div>
									</div>




									<div class="upload_media mt-5">
										<h5 class="color-primary">Add Photos and Videos</h5>
										<hr>
										<div class="row">
											<div class="col-md-12">
												<div class="browse_submit">
													<input type="file" id="fileupload-example-1" class="hide">
													<label class="fileupload_label text-center w-100" for="fileupload-example-1">Drag and Drop to Add Photo (770x390)</label>
												</div>
											</div>

											<div class="col-lg-12">
												<div class="property_thumbnails mt-5">
													<div class="row">
														<div class="thumbnails_box mb_30 col-lg-1 col-md-4 col-6">
															<img src="images/thumbnail/01.jpg" alt="">
															<i class="fa fa-window-close"></i>
														</div>
														<div class="thumbnails_box mb_30 col-lg-1 col-md-4 col-6">
															<img src="images/thumbnail/02.jpg" alt="">
															<i class="fa fa-window-close"></i>
														</div>
														<div class="thumbnails_box mb_30 col-lg-1 col-md-4 col-6">
															<img src="images/thumbnail/03.jpg" alt="">
															<i class="fa fa-window-close"></i>
														</div>
														<div class="thumbnails_box mb_30 col-lg-1 col-md-4 col-6">
															<img src="images/thumbnail/04.jpg" alt="">
															<i class="fa fa-window-close"></i>
														</div>
														<div class="thumbnails_box mb_30 col-lg-1 col-md-4 col-6">
															<img src="images/thumbnail/05.jpg" alt="">
															<i class="fa fa-window-close"></i>
														</div>
														<div class="thumbnails_box mb_30 col-lg-1 col-md-4 col-6">
															<img src="images/thumbnail/06.jpg" alt="">
															<i class="fa fa-window-close"></i>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-12 col-md-12">
												<div class="form-group">
													<h5 class="float-left mt-2">Add Video Link Here</h5>
													<input type="text" name="name" class="form-control video_link float-right">
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-12 col-md-12">
											<div class="form-group">
														<input type="submit" name="name" class="btn btn-default1" value="Submit">
										</div>
											</div>





								</form>
							</div>
						</div>
 					</div>
				</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>

$("#id_category").change(function(){
var url=$("#PropertyForm").attr("data-types-url");
var categoryId=$(this).val();

$.ajax({
url:url,
data:{
'category':categoryId
},
success:function(data){
$("#id_type").html(data);
}
});
});


</script>
{% endblock body %}