{% extends 'dashboard_base.html' %}
{% load static %}


{% block body %}
 			<div class="col-md-11 col-xl-10 bg-gray">
					<div class="row">
						<div class="full-row deshbord_panel w-100 mb-5">
							<h4 class="color-primary mb-4">Change Password</h4>
							<div class="dashboard_change_password p-5 bg-white">
								<form class="change_password" action="{% url 'account_change_password' %}" method="POST">
									{% csrf_token %}
									<div class="row">
										<div class="col-lg-6 col-md-12">
											<div class="form-group">
												<label>Current Password</label>
												<abbr title="Put your current password here">
 												{{ form.oldpassword }}
												</abbr>
											</div>
											<div class="form-group position-relative">
												<label>New Password</label>
												<abbr title="Password must 8 charactor and contain latter and number">
 												{{ form.password1}}
												</abbr>
											</div>
											<div class="form-group">
												<label>Re-Type New Password</label>
												<abbr title="Re-Type New Password">
 												{{ form.password2 }}
												</abbr>
											</div>
										</div>
									</div>
								</form>
								<button type="submit" class="btn btn-default1 mt-3">Change Password</button>
								<a href="#" class="color-default d-table mt-4">Ckick here if you forgot password?</a>
							</div>
						</div>
 					</div>
				</div>
{% endblock body %}