{% extends 'site/base.html' %}
{% load static %}
{% block content %}
<div class="page-banner bg-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="breadcrumbs color-secondery">
						<ul>
							<li class="hover_gray"><a href="#">Home</a></li>
							<li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
							<li class="hover_gray"><a href="#">Pages</a></li>
							<li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
							<li>Agents</li>
						</ul>
					</div>
					<div class="float-right color-primary">
						<h3 class="banner-title font-weight-bold">Agents</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="full-row">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<form class="top_filter pb-4">
						<div class="row">
							<div class="col-md-9 col-lg-9">
								<div class="short_by">
									<label>Shorts By :</label>
									<div class="form-group m-0 pr-5">
										<select class="form-control bg-gray border-none">
										  <option>Default Order</option>
										  <option>Newest First</option>
										  <option>Oldest First</option>
										  <option>Top Rated</option>
										  <option>Most Popular</option>
										</select>
									</div>
									<label>1-10 of 25 results</label>
								</div>
							</div>
							<div class="col-md-3 col-lg-3">
								<div class="property-view py-1 float-right color-primary-a">
									<a href="property_agents_grid.html" class="active"><i class="fa fa-th-large" aria-hidden="true"></i></a>
									<a href="property_agents_list.html"><i class="fa fa-th-list" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-4">
					<div class="profile mb_30">
						<div class="pro-img overfollow">
							<img src="{% static 'images/team/02.jpg' %}" alt="">
						</div>
						<div class="profile_data color-secondery hover_primary">
							<div class="agent_name p_20">
								<h5 class="font-weight-bold"><a href="#">Karen Eilla Boyette</a></h5>
								<span>Appartment Agent</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="profile mb_30">
						<div class="pro-img overfollow">
							<img src="{% static 'images/team/02.jpg' %}" alt="">
						</div>
						<div class="profile_data color-secondery hover_primary">
							<div class="agent_name p_20">
								<h5 class="font-weight-bold"><a href="#">Walter Devid Moye</a></h5>
								<span>Condos Agent</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="profile mb_30">
						<div class="pro-img overfollow">
							<img src="{% static 'images/team/02.jpg' %}" alt="">
						</div>
						<div class="profile_data color-secondery hover_primary">
							<div class="agent_name p_20">
								<h5 class="font-weight-bold"><a href="#">Linda Dina Pate</a></h5>
								<span>Commercial Building Agent</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="profile mb_30">
						<div class="pro-img overfollow">
							<img src="{% static 'images/team/02.jpg' %}" alt="">
						</div>
						<div class="profile_data color-secondery hover_primary">
							<div class="agent_name p_20">
								<h5 class="font-weight-bold"><a href="#">Karen Eilla Boyette</a></h5>
								<span>Appartment Agent</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="profile mb_30">
						<div class="pro-img overfollow">
							<img src="{% static 'images/team/02.jpg' %}" alt="">
						</div>
						<div class="profile_data color-secondery hover_primary">
							<div class="agent_name p_20">
								<h5 class="font-weight-bold"><a href="#">Walter Devid Moye</a></h5>
								<span>Condos Agent</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="profile mb_30">
						<div class="pro-img overfollow">
							<img src="{% static 'images/team/02.jpg' %}" alt="">
						</div>
						<div class="profile_data color-secondery hover_primary">
							<div class="agent_name p_20">
								<h5 class="font-weight-bold"><a href="#">Linda Dina Pate</a></h5>
								<span>Commercial Building Agent</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="profile mb_30">
						<div class="pro-img overfollow">
							<img src="{% static 'images/team/02.jpg' %}" alt="">
						</div>
						<div class="profile_data color-secondery hover_primary">
							<div class="agent_name p_20">
								<h5 class="font-weight-bold"><a href="#">Karen Eilla Boyette</a></h5>
								<span>Appartment Agent</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="profile mb_30">
						<div class="pro-img overfollow">
							<img src="{% static 'images/team/02.jpg' %}" alt="">
						</div>
						<div class="profile_datacolor-secondery hover_primary">
							<div class="agent_name p_20">
								<h5 class="font-weight-bold"><a href="#">Walter Devid Moye</a></h5>
								<span>Condos Agent</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="profile mb_30">
						<div class="pro-img overfollow">
							<img src="{% static 'images/team/02.jpg' %}" alt="">
						</div>
						<div class="profile_data color-secondery hover_primary">
							<div class="agent_name p_20">
								<h5 class="font-weight-bold"><a href="#">Linda Dina Pate</a></h5>
								<span>Commercial Building Agent</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="profile mb_30">
						<div class="pro-img overfollow">
							<img src="{% static 'images/team/02.jpg' %}" alt="">
						</div>
						<div class="profile_data color-secondery hover_primary">
							<div class="agent_name p_20">
								<h5 class="font-weight-bold"><a href="#">Karen Eilla Boyette</a></h5>
								<span>Appartment Agent</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="profile mb_30">
						<div class="pro-img overfollow">
							<img src="{% static 'images/team/02.jpg' %}" alt="">
						</div>
						<div class="profile_data color-secondery hover_primary">
							<div class="agent_name p_20">
								<h5 class="font-weight-bold"><a href="#">Walter Devid Moye</a></h5>
								<span>Condos Agent</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="profile mb_30">
						<div class="pro-img overfollow">
							<img src="{% static 'images/team/02.jpg' %}" alt="">
						</div>
						<div class="profile_data color-secondery hover_primary">
							<div class="agent_name p_20">
								<h5 class="font-weight-bold"><a href="#">Linda Dina Pate</a></h5>
								<span>Commercial Building Agent</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<nav aria-label="Page navigation" class="m-auto d-table">
			  <ul class="pagination mt_30 mb_60">
				<li class="page-item"><a class="page-link active" href="#">Previous</a></li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">...</li>
				<li class="page-item"><a class="page-link" href="#">45</a></li>
				<li class="page-item"><a class="page-link active" href="#">Next</a></li>
			  </ul>
			</nav>
		</div>
	</section>
{% endblock content %}