{% extends 'site/base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block content %}



	<section class="full-row py-5 bg-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="row">
						<div class="col-lg-12">
							<div class="full-row overflow-hidden">
								<div class="property-slider-two">
									<!-- Slider HTML markup -->
									<div id="single-property-2" style="width:1200px;height:640px;margin:0 auto;margin-bottom: 0px;">

										<!-- Slide 1-->
										<div class="ls-slide" data-ls="duration:4000; kenburnsscale:1.2;">
											<img width="1920" height="1080" src="{{ object.main_image.url }}" class="ls-bg" alt="" />
										</div>

										{% if object.image_2 %}
										<!-- Slide 2-->
										<div class="ls-slide" data-ls="duration:4000;">
											<img width="1920" height="1080" src="{{ object.image_2.url }}" class="ls-bg" alt="" />
										</div>
										{% endif %}

										{% if object.image_3 %}
										<!-- Slide 3-->
										<div class="ls-slide" data-ls="duration:4000;">
											<img width="1920" height="1080" src="{{object.image_3.url }}" class="ls-bg" alt="" />
										</div>
										{% endif %}

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="property_single_top mt-5">
						<div class="row">
							<div class="col-md-6 col-lg-6">
								<div class="sale bg-default">For {{object.get_action_display}}</div>
								<div class="icon_default">
									<h5 class="mt_10 color-primary">{{object.title }}</h5>
									<p><i class="fa fa-map-marker" aria-hidden="true"></i>{{object.location.place}}</p>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">
								<div class="property-price">
									<div class="add_favourite float-right color-secondery">
										<form action="#">
											<button value="" title="{{object.views}} views">{{object.views}}views</button>
										</form>
									</div>
									<div class="area_price"><h1>${{object.min_price}}-${{object.max_price}}</h1></div>
									<div class="amount">Fixed Amount</div>
								</div>
							</div>
						</div>
					</div>
					<div class="property_details">
						<div class="row">
							<div class="col-md-12 col-lg-8">
								<div class="pro_det">

									<h4 class="color-primary mt_30 mb_30">Description</h4>
									 {{object.full_description|safe}}


									<h5 class="pt_60 mb_30 color-primary">Key Features</h5>
									<div class="row">
										<div class="col-md-12 col-lg-4">
											<div class="more_details">
												{{object.key_features|safe}}

											</div>
										</div>


									</div>

									{% if object.video %}
									<h5 class="pt_60 mb_30 color-primary">Property Video</h5>
									<div class="property_video  ">
							<!-- Or embed shortcut: -->

										<div class="embed-responsive embed-responsive-16by9">
										{% video object.video '640 x 385' %}

										</div>

									</div>
									{% endif %}



									<div class="single-map">
										<h5 class="pt_60 mb_30 color-primary">Property Location</h5>
										<!--Google map-->
										<!--Google map-->
									<div id="map-container-google-3" class="embed-responsive embed-responsive-16by9">
									  <iframe width="600" height="450" src="https://maps.google.com/maps?q={{object.location.latitude}},{{object.location.longitude}}&t=k&z=13&ie=UTF8&iwloc=&output=embed&z=15" frameborder="0"
										style="border:0" allowfullscreen></iframe>
									</div>


									</div>

									<h5 class="pt_60 mb_30 color-primary">Other Properties from <span class="font-weight-bold color-default"> <a
											href="{% url 'site:profile' username=object.realator.username %}">{{object.realator.realator.fullname }}[{{object.realator.username}}]</a></span></h5>
									<div class="list_item related-property">
										<!-- Thumbnail 1 Start -->
										{% for property in other_properties %}
										<div class="thumbnail_one mb_30">
											<div class="image_area overlay_one overfollow">
												<img src="{{property.main_image.url}}" alt="">
												<div class="Featured">Featured</div>
												<div class="sale sale_position bg-primary">For {{property.get_action_display}}</div>
												<div class="area_price price_position">${{property.max_price}}-${{property.min_price}}</div>
												<div class="starmark starmark_position"><i class="fa fa-star-o" aria-hidden="true"></i></div>
											</div>
											<div class="thum_one_content">
												<div class="thum_title color-secondery">
													<h5 class="hover_primary"><a href="{{ property.get_absolute_url }}">{{property.title}}</a></h5>
													<p><i class="fa fa-map-marker" aria-hidden="true"></i>{{ property.location.place}}</p>
												</div>

												<div class="ft_area p_20">
													<div class="post_author"><i class="fa fa-user" aria-hidden="true"></i>
														<a href="{% url 'site:profile' username=property.realator.username %}">{{ property.realator.realator.fullname}} </a> </div>


												</div>
												<div class="post_date float-right"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{property.created|timesince}} Ago</div>
											</div>
										</div>
										{% endfor %}



									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-4">
								<ul class="property_btn mt-5">
									<li class="download"><a href="#" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i></a></li>
									{% if is_favourite %}
									<li><a href="{% url 'dashboard:add_favourite' pk=object.pk %}" class="btn btn-danger">Remove Favourite</a></li>
									{% else %}
									<li><a href="{% url 'dashboard:add_favourite' pk=object.pk %}" class="btn btn-success">Add Favourite</a></li>
									{% endif %}
								</ul>
								<div class="broker_contact mt_30 d-inline-block p_30 boxshadow_one mb-5">
									<div class="img_80 float-left pr_20 mb_20">
										<img src= "{{object.realator.realator.image.url }}" alt=""></div>


									<div class="broker_name">

										<h6 class="font-weight-bold color-default"><a href="{% url 'site:profile' username=object.realator.username %}">{{object.realator.username }}</h6>
										<span class="color-secondery">Property Owner</span></a>
									</div>

									<form class="form4 w-100 d-inline-block" action="" method="POST">
										{% csrf_token%}
										<div class="row">
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													{{ form.name.errors }}
													{{ form.name }}
 												</div>
											</div>
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													{{ form.email.errors }}
													{{ form.email }}
 												</div>
											</div>
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													{{ form.phone.errors }}
													{{ form.phone}}
 												</div>
											</div>
											<div class="col-md-12 col-lg-12">
												<div class="form-group">
													{{ form.message.errors }}
													{{ form.message }}
 												</div>
											</div>
											<div class="col-md-12 col-lg-12">
												<button type="submit" value="submit" class="btn btn-default1 w-100">Send Message</button>
											</div>
										</div>
									</form>
								</div>

								<div class="mb-5">
									<h5 class="mb_30 color-primary">Top Views</h5>
									<div class="owl-carousel featured_property">
										{% for property in top_properties %}
										<div class="thumbnail_three">
											<div class="image_area overlay_one overfollow">
												<img src="{{ property.main_image.url }}" alt="">
												<div class="Featured">Featured</div>
												<div class="sale sale_position bg-primary">For {{property.get_action_display}}</div>
												<div class="area_price price_position">${{property.max_price}}-${{property.min_price}}<span>{{property.views}} views</span></div>
												<div class="starmark starmark_position"><i class="fa fa-star-o" aria-hidden="true"></i></div>
											</div>
											<div class="thum_three_content bg-white color-secondery">
												<div class="thum_title2 icon_default bg-gray">
													<h5 class="hover_primary"><a href="{{property.get_absolute_url}}">{{property.title }}</a></h5>
													<p><i class="fa fa-map-marker" aria-hidden="true"></i> {{ property.location.place }}</p>
												</div>
											</div>
										</div>
										{% endfor %}



									</div>
								</div>



							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock content %}