{% extends 'site/base.html' %}
{% load static %}

{% block content %}
<div class="page-banner bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="breadcrumbs color-secondery">
					<ul>

						<li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
						<li class="hover_gray"><a href="#">Help and Support
						</a></li>
						<li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
						<li class="color-default">Faq</li>
					</ul>
				</div>
				<div class="float-right color-primary">
					<h3 class="banner-title font-weight-bold">Freequenly Ask Question</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Banner Section End -->

<!-- FAQ Section Start -->
<section class="full-row py_80">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="sidebar-widget bg-gray p-4 settings_links color-secondery-a">
					<h4 class="inner_title mb-4 color-primary">Help and Support</h4>
					<ul>
						<li>
							<a href="{% url 'site:faq' %}">Faq</a>
						</li>
						<li class="active">
							<a href="{% url 'site:privacy' %}">Privacy Policy</a>
						</li>
						<li>
							<a href="{% url 'site:terms' %}">Terms and Condition</a>
						</li>


					</ul>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="info-pages bg-gray p-4">
					<div class="faq_item mb_30">
						<span class="faq_question bg-default color-white">Q</span>
						<div class="faq_answer d-table">
							<h5 class="mb-2 color-primary">WHO WE ARE?</h5>
							<p>Immolists is a Digital Media Company that owns and operates Real estate property portal website and complimentary offline media throughout Algeria.
Immolists websites aim to make online real estate research easier and faster by simplifying access to it’s property listing plateform, whilst being one of the best tools to help purchase, sell or rent property.</p>
							<hr>

						</div>
					</div>
					<div class="faq_item mb_30">
						<span class="faq_question bg-default color-white">Q</span>
						<div class="faq_answer d-table">
							<h5 class="mb-2 color-primary">WHAT WE DO?</h5>
							<p>We provide real estate particular and professionals searchers, with useful resources throughout a large property listings platform that aims to facilitate contacts and communications towards any real estate transactions.</p>
 							<hr>

						</div>
					</div>
					<div class="faq_item mb_30">
						<span class="faq_question bg-default color-white">Q</span>
						<div class="faq_answer d-table">
							<h5 class="mb-2 color-primary">How do your services work?</h5>
							<p>It’s simple, by subscribing into Immolists, you will not only have the access to review all the listed property in  a real time but also have the access to post and list your property, thus share comment and request additional infos from others subscribers concerning their listings.</p>
 							<hr>

						</div>
					</div>
					<div class="faq_item mb_30">
						<span class="faq_question bg-default color-white">Q</span>
						<div class="faq_answer d-table">
							<h5 class="mb-2 color-primary">What type of visibility with potential buyers and sellers does Immolists offer?</h5>
							<p>By creating and subscribing to our web site, you become one among  thousands of subscribers in the Immolists community, and that offers you the possibility to communicate directly with other buyers and sellers, further more we have the property alerte.</p>
 							<hr>

						</div>
					</div>
					<div class="faq_item mb_30">
						<span class="faq_question bg-default color-white">Q</span>
						<div class="faq_answer d-table">
							<h5 class="mb-2 color-primary">Does immolists enter as a third party intermediary in between buyers and sellers at the time of completing real estate transactions ?</h5>
 							<p>No, Immolists as already mentioned on “Who we are” Section, doesn’t enter as a third party in any transaction, however it provides tools and listings that makes contact and communication between different actors (buyers and sellers, lessors and lessee) easier and simple.</p>
							<hr>

						</div>
					</div>
					<div class="faq_item mb_30">
						<span class="faq_question bg-default color-white">Q</span>
						<div class="faq_answer d-table">
							<h5 class="mb-2 color-primary">Do I Need to pay to post my property via Immolists?</h5>
							<p>Listing property services are completely free, however some additional optional services can be subject to some fees.</p>
 							<hr>

						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}