{% extends 'site/base.html' %}
{% load static %}

{% block content %}
<section class="full-row py-5 bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="forget_password w-50 m-auto">
					<div class="login_form">
						<h4 class="color-primary mb-4">Recover Your Password</h4>
						<form class="form9">
						   <div class="form-group email">
						    <label for="exampleInputEmail1">Email address</label>
						    <input id="exampleInputEmail1" type="email" class="form-control bg-gray" placeholder="">
						  </div>
						  <button type="submit" class="btn btn-default1 mt_15">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}