{% extends 'site/base.html' %}
{% load static %}

{% block content %}

===============================================================-->
<div class="full-row overflow-hidden">
	<div id="gastronomy-slider" style="width:1280px; height:520px; margin:0 auto; margin-bottom: 0px;">

		<!-- Slide 1-->
		<div class="ls-slide" data-ls="kenburnsscale:1.2; duration:12000;">
			<img width="1920" height="960" src="{% static 'images/header.jpg' %}" class="ls-l" alt="" style="top:-339px; left:-260px; text-align:initial; font-weight:400; font-style:normal; text-decoration:none; mix-blend-mode:normal; filter:blur(10px);" data-ls="showinfo:1; durationin:1500; easingin:easeOutQuint; rotateyin:-5; scalexin:.8; scaleyin:.8; filterin:blur(30px); loop:true; loopduration:5000; loopstartat:allinend + 0; loopeasing:easeInOutSine; loopscalex:.8; loopscaley:.8; loopcount:1; loopfilter:blur(0px);">
			<div style="top:0px; left:0px; text-align:initial; font-weight:400; font-style:normal; text-decoration:none; mix-blend-mode:normal; height:520px; width:50%; font-size:13px; opacity:.5;" class="ls-l bg-primary" data-ls="showinfo:1; delayin:500; fadein:false; heightin:0; offsetxout:left; easingout:easeInQuint; skewxout:10;"></div>
			<div style="top:170px; left:100px; text-align:initial; font-weight:400; font-style:normal; text-decoration:none; mix-blend-mode:normal; font-family:Verdana; font-size:40px; height:2px; background:#fff; width:250px; opacity:.75; border-radius:3px;" class="ls-l" data-ls="showinfo:1; durationin:1500; delayin:1000; fadein:false; clipin:0 50% 0 50%; offsetxout:left;"></div>
			<p style="top:140px; left:100px; text-align:initial; font-weight:400; font-style:normal; text-decoration:none; mix-blend-mode:normal; font-family:'Comfortaa', cursive; font-size:20px; color:#fff;" class="ls-l" data-ls="showinfo:1; offsetyin:top; delayin:1000; easingin:easeOutQuint; offsetxout:left; texttransitionin:true; texttypein:chars_desc; textshiftin:20; textoffsetyin:-70lh; textdurationin:800; texteasingin:easeOutQuint; textfadein:false; textstartatin:transitioninstart + 0;">New duplex lixury condos</p>
			<p style="top:190px; left:100px; text-align:initial; text-decoration:none; mix-blend-mode:normal; font-size:10px; color:#fff; padding-right:20px;" class="ls-l" data-ls="showinfo:1; offsetxin:-100lw; durationin:1500; delayin:2000; transformoriginin:0% 50% 0; clipin:0 0 0 100%; offsetxout:left;"><i class="fa fa-map-marker color-default" aria-hidden="true"></i> 1744 Daylene Drive Newport MI 48166, Australia</p>
			<p style="top:220px; left:100px; text-align:initial; text-decoration:none; mix-blend-mode:normal; font-size:10px; color:#fff; padding-right:20px;" class="ls-l" data-ls="showinfo:1; offsetxin:-100lw; durationin:1500; delayin:2300; transformoriginin:0% 50% 0; clipin:0 0 0 100%; offsetxout:left;"><span class="pr-3"><i class="flaticon-select flat-min color-default"></i> 3500 Sqft</span><span class="pr-3"><i class="flaticon-hotel flat-min color-default"></i> 4 Beds</span><span class="pr-3"><i class="flaticon-bathroom flat-min color-default"></i> 3 Baths</span><span class="pr-3"><i class="flaticon-garage flat-min color-default"></i> Garage</span></p>
			<p style="top:260px; left:100px; text-align:initial; text-decoration:none; mix-blend-mode:normal; font-size:14px; color:#fff; padding-right:20px;" class="ls-l" data-ls="showinfo:1; offsetxin:-100lw; durationin:1500; delayin:2600; transformoriginin:0% 50% 0; clipin:0 0 0 100%; offsetxout:left;">$ 12500.00 / Monthly</p>
			<div style="text-align:center; width:60px; height:25px; line-height: 25px; font-family:'Varela Round', sans-serif; font-size:10px; color:#ffffff; border-radius:3px; top:256px; left:270px;" class="ls-l bg-default" data-ls="delayin:2800; easingin:easeOutElastic; rotateyin:-300; durationout:400; rotateyout:-400; parallaxlevel:0;">For Rent</div>
			<a style="" class="ls-l" href="#" target="_self" data-ls="offsetyin:30; durationin:1000; delayin:2800; offsetyout:-30; durationout:400; hover:true; hoverdurationin:300; hoveropacity:1; hoverbgcolor:#ffffff; hovercolor:#444444; parallaxlevel:0;">
				<p style="font-weight:500; text-align:center;cursor:pointer; ;padding-top:8px; padding-bottom:7px; font-family:'Varela Round', sans-serif; font-size:10px; top:310px; left:100px; border-top:1px solid #fff; border-right:1px solid #fff; padding-right:15px; border-bottom:1px solid #fff; border-left:1px solid #fff; padding-left:15px; line-height:15px; text-align:initial; font-weight:400; font-style:normal; text-decoration:none; color:#ffffff; background:rgba(0, 0, 0, 0.1); border-radius:2px; style:font-weight:500; text-align:center;cursor:pointer; ;" class=" ls-button">View Details</p>
			</a>
		</div>


		<!-- Slide 2-->
		<div class="ls-slide" data-ls="kenburnsscale:1.2; duration:12000;">
			<img width="1920" height="960" src="{% static 'images/slider/05.jpg' %}" class="ls-l" alt="" style="top:-339px; left:-260px; text-align:initial; font-weight:400; font-style:normal; text-decoration:none; mix-blend-mode:normal; filter:blur(10px);" data-ls="showinfo:1; durationin:1500; easingin:easeOutQuint; rotateyin:-5; scalexin:.8; scaleyin:.8; filterin:blur(30px); loop:true; loopduration:5000; loopstartat:allinend + 0; loopeasing:easeInOutSine; loopscalex:.8; loopscaley:.8; loopcount:1; loopfilter:blur(0px);">
			<div style="top:0px; left:0px; text-align:initial; font-weight:400; font-style:normal; text-decoration:none; mix-blend-mode:normal; height:520px; width:50%; font-size:13px; opacity:.5;" class="ls-l bg-primary" data-ls="showinfo:1; delayin:500; fadein:false; heightin:0; offsetxout:left; easingout:easeInQuint; skewxout:10;"></div>
			<div style="top:170px; left:100px; text-align:initial; font-weight:400; font-style:normal; text-decoration:none; mix-blend-mode:normal; font-family:Verdana; font-size:40px; height:2px; background:#fff; width:250px; opacity:.75; border-radius:3px;" class="ls-l" data-ls="showinfo:1; durationin:1500; delayin:1000; fadein:false; clipin:0 50% 0 50%; offsetxout:left;"></div>
			<p style="top:140px; left:100px; text-align:initial; font-weight:400; font-style:normal; text-decoration:none; mix-blend-mode:normal; font-family:'Comfortaa', cursive; font-size:20px; color:#fff;" class="ls-l" data-ls="showinfo:1; offsetyin:top; delayin:1000; easingin:easeOutQuint; offsetxout:left; texttransitionin:true; texttypein:chars_desc; textshiftin:20; textoffsetyin:-70lh; textdurationin:800; texteasingin:easeOutQuint; textfadein:false; textstartatin:transitioninstart + 0;">New duplex lixury condos</p>
			<p style="top:190px; left:100px; text-align:initial; text-decoration:none; mix-blend-mode:normal; font-size:10px; color:#fff; padding-right:20px;" class="ls-l" data-ls="showinfo:1; offsetxin:-100lw; durationin:1500; delayin:2000; transformoriginin:0% 50% 0; clipin:0 0 0 100%; offsetxout:left;"><i class="fa fa-map-marker color-default" aria-hidden="true"></i> 1744 Daylene Drive Newport MI 48166, Australia</p>
			<p style="top:220px; left:100px; text-align:initial; text-decoration:none; mix-blend-mode:normal; font-size:10px; color:#fff; padding-right:20px;" class="ls-l" data-ls="showinfo:1; offsetxin:-100lw; durationin:1500; delayin:2300; transformoriginin:0% 50% 0; clipin:0 0 0 100%; offsetxout:left;"><span class="pr-3"><i class="flaticon-select flat-min color-default"></i> 3500 Sqft</span><span class="pr-3"><i class="flaticon-hotel flat-min color-default"></i> 4 Beds</span><span class="pr-3"><i class="flaticon-bathroom flat-min color-default"></i> 3 Baths</span><span class="pr-3"><i class="flaticon-garage flat-min color-default"></i> Garage</span></p>
			<p style="top:260px; left:100px; text-align:initial; text-decoration:none; mix-blend-mode:normal; font-size:14px; color:#fff; padding-right:20px;" class="ls-l" data-ls="showinfo:1; offsetxin:-100lw; durationin:1500; delayin:2600; transformoriginin:0% 50% 0; clipin:0 0 0 100%; offsetxout:left;">$ 12500.00 / Monthly</p>
			<div style="text-align:center; width:60px; height:25px; line-height: 25px; font-family:'Varela Round', sans-serif; font-size:10px; color:#ffffff; border-radius:3px; top:256px; left:270px;" class="ls-l bg-default" data-ls="delayin:2800; easingin:easeOutElastic; rotateyin:-300; durationout:400; rotateyout:-400; parallaxlevel:0;">For Rent</div>
			<a style="" class="ls-l" href="#" target="_self" data-ls="offsetyin:30; durationin:1000; delayin:2800; offsetyout:-30; durationout:400; hover:true; hoverdurationin:300; hoveropacity:1; hoverbgcolor:#ffffff; hovercolor:#444444; parallaxlevel:0;">
				<p style="font-weight:500; text-align:center;cursor:pointer; ;padding-top:8px; padding-bottom:7px; font-family:'Varela Round', sans-serif; font-size:10px; top:310px; left:100px; border-top:1px solid #fff; border-right:1px solid #fff; padding-right:15px; border-bottom:1px solid #fff; border-left:1px solid #fff; padding-left:15px; line-height:15px; text-align:initial; font-weight:400; font-style:normal; text-decoration:none; color:#ffffff; background:rgba(0, 0, 0, 0.1); border-radius:2px; style:font-weight:500; text-align:center;cursor:pointer; ;" class=" ls-button">View Details</p>
			</a>
		</div>


		<!-- Slide 3-->
		<div class="ls-slide" data-ls="kenburnsscale:1.2; duration:12000;">
			<img width="1920" height="960" src="{% static 'images/slider/06.jpg' %}" class="ls-l" alt="" style="top:-339px; left:-260px; text-align:initial; font-weight:400; font-style:normal; text-decoration:none; mix-blend-mode:normal; filter:blur(10px);" data-ls="showinfo:1; durationin:1500; easingin:easeOutQuint; rotateyin:-5; scalexin:.8; scaleyin:.8; filterin:blur(30px); loop:true; loopduration:5000; loopstartat:allinend + 0; loopeasing:easeInOutSine; loopscalex:.8; loopscaley:.8; loopcount:1; loopfilter:blur(0px);">
			<div style="top:0px; left:0px; text-align:initial; font-weight:400; font-style:normal; text-decoration:none; mix-blend-mode:normal; height:520px; width:50%; font-size:13px; opacity:.5;" class="ls-l bg-primary" data-ls="showinfo:1; delayin:500; fadein:false; heightin:0; offsetxout:left; easingout:easeInQuint; skewxout:10;"></div>
			<div style="top:170px; left:100px; text-align:initial; font-weight:400; font-style:normal; text-decoration:none; mix-blend-mode:normal; font-family:Verdana; font-size:40px; height:2px; background:#fff; width:250px; opacity:.75; border-radius:3px;" class="ls-l" data-ls="showinfo:1; durationin:1500; delayin:1000; fadein:false; clipin:0 50% 0 50%; offsetxout:left;"></div>
			<p style="top:140px; left:100px; text-align:initial; font-weight:400; font-style:normal; text-decoration:none; mix-blend-mode:normal; font-family:'Comfortaa', cursive; font-size:20px; color:#fff;" class="ls-l" data-ls="showinfo:1; offsetyin:top; delayin:1000; easingin:easeOutQuint; offsetxout:left; texttransitionin:true; texttypein:chars_desc; textshiftin:20; textoffsetyin:-70lh; textdurationin:800; texteasingin:easeOutQuint; textfadein:false; textstartatin:transitioninstart + 0;">New duplex lixury condos</p>
			<p style="top:190px; left:100px; text-align:initial; text-decoration:none; mix-blend-mode:normal; font-size:10px; color:#fff; padding-right:20px;" class="ls-l" data-ls="showinfo:1; offsetxin:-100lw; durationin:1500; delayin:2000; transformoriginin:0% 50% 0; clipin:0 0 0 100%; offsetxout:left;"><i class="fa fa-map-marker color-default" aria-hidden="true"></i> 1744 Daylene Drive Newport MI 48166, Australia</p>
			<p style="top:220px; left:100px; text-align:initial; text-decoration:none; mix-blend-mode:normal; font-size:10px; color:#fff; padding-right:20px;" class="ls-l" data-ls="showinfo:1; offsetxin:-100lw; durationin:1500; delayin:2300; transformoriginin:0% 50% 0; clipin:0 0 0 100%; offsetxout:left;"><span class="pr-3"><i class="flaticon-select flat-min color-default"></i> 3500 Sqft</span><span class="pr-3"><i class="flaticon-hotel flat-min color-default"></i> 4 Beds</span><span class="pr-3"><i class="flaticon-bathroom flat-min color-default"></i> 3 Baths</span><span class="pr-3"><i class="flaticon-garage flat-min color-default"></i> Garage</span></p>
			<p style="top:260px; left:100px; text-align:initial; text-decoration:none; mix-blend-mode:normal; font-size:14px; color:#fff; padding-right:20px;" class="ls-l" data-ls="showinfo:1; offsetxin:-100lw; durationin:1500; delayin:2600; transformoriginin:0% 50% 0; clipin:0 0 0 100%; offsetxout:left;">$ 12500.00 / Monthly</p>
			<div style="text-align:center; width:60px; height:25px; line-height: 25px; font-family:'Varela Round', sans-serif; font-size:10px; color:#ffffff; border-radius:3px; top:256px; left:270px;" class="ls-l bg-default" data-ls="delayin:2800; easingin:easeOutElastic; rotateyin:-300; durationout:400; rotateyout:-400; parallaxlevel:0;">For Rent</div>
			<a style="" class="ls-l" href="#" target="_self" data-ls="offsetyin:30; durationin:1000; delayin:2800; offsetyout:-30; durationout:400; hover:true; hoverdurationin:300; hoveropacity:1; hoverbgcolor:#ffffff; hovercolor:#444444; parallaxlevel:0;">
				<p style="font-weight:500; text-align:center;cursor:pointer; ;padding-top:8px; padding-bottom:7px; font-family:'Varela Round', sans-serif; font-size:10px; top:310px; left:100px; border-top:1px solid #fff; border-right:1px solid #fff; padding-right:15px; border-bottom:1px solid #fff; border-left:1px solid #fff; padding-left:15px; line-height:15px; text-align:initial; font-weight:400; font-style:normal; text-decoration:none; color:#ffffff; background:rgba(0, 0, 0, 0.1); border-radius:2px; style:font-weight:500; text-align:center;cursor:pointer; ;" class=" ls-button">View Details</p>
			</a>
		</div>

	</div>
</div>
<!--	Property Search Form One
=============================================================-->
<div class="full-row py-5 bg-gray">
	<div class="container">
		<form class="form1 formicon" method="post" action="">
		  <div class="row">
		  	<div class="col-md-4 col-lg-2">
		  		<div class="form-group">
		  			<select class="form-control">
					  <option>Any Status</option>
					  <option>For Rent</option>
					  <option>For Sale</option>
					  <option>For Lease</option>
					</select>
		  		</div>
		  	</div>
		  	<div class="col-md-8 col-lg-7">
		  		<div class="form-group">
		  			<input type="text" class="form-control" id="validationDefault03" placeholder="Enter Address, Street and City or Enter State, Zip code" required>
		  		</div>
		  	</div>
		  	<div class="col-md-4 col-lg-3">
		  		<div class="form-group">
		  			<button type="submit" class="btn btn-default1 w-100">Search Property</button>
		  		</div>
		  	</div>
		  	<div class="col-md-8 col-lg-2">
		  		<div class="form-group">
		  			<select class="form-control">
					  <option>Any Type</option>
					  <option>Appartment</option>
					  <option>Condose</option>
					  <option>Land</option>
					  <option>Commercial</option>
					  <option>Villah</option>
					</select>
		  		</div>
		  	</div>
		  	<div class="col-md-6 col-lg-3">
		  		<div class="form-group">
		  			<input type="text" class="form-control" id="validationDefault04" placeholder="Min Area" required>
		  		</div>
		  	</div>
		  	<div class="col-md-6 col-lg-3">
		  		<div class="form-group">
		  			<input type="text" class="form-control" id="validationDefault05" placeholder="Max Area" required>
		  		</div>
		  	</div>
		  	<div class="col-md-12 col-lg-4">
		  		<div class="form-group mb-5">
		  			<div class="price_range">
						<div class="price-filter">
							<span class="price-slider">
								<input class="filter_price" type="text" name="price" value="100000;900000" />
							</span>
						</div>
					</div>
		  		</div>
		  	</div>
		  	<div class="col-md-12 col-lg-12">
		  		<span class="d-inline-block hover_gray formicon">
				  <a class="checkbox_collapse" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">More Option</a>
				</span>
				<div class="row">
				  <div class="col">
				    <div class="collapse" id="multiCollapseExample1">
				        <div class="card card-body color-secondery bg-gray px-0">
							<div class="row">
								<div class="col-md-6 col-lg-3">
									<ul class="check_submit">
										<li>
											<input id="feature_1" class="hide" type="checkbox">
											<label for="feature_1">Parking Garage</label>
										</li>
										<li>
											<input id="feature_2" class="hide" type="checkbox">
											<label for="feature_2">Security System</label>
										</li>
										<li>
											<input id="feature_3" class="hide" type="checkbox">
											<label for="feature_3">Window Covering</label>
										</li>
									</ul>
								</div>
								<div class="col-md-6 col-lg-3">
									<ul class="check_submit">
										<li>
											<input id="feature_4" class="hide" type="checkbox">
											<label for="feature_4">Swiming Pool</label>
										</li>
										<li>
											<input id="feature_5" class="hide" type="checkbox">
											<label for="feature_5">Air Condition</label>
										</li>
										<li>
											<input id="feature_8" class="hide" type="checkbox">
											<label for="feature_8">Fire Protection</label>
										</li>
									</ul>
								</div>
								<div class="col-md-6 col-lg-3">
									<ul class="check_submit">
										<li>
											<input id="feature_9" class="hide" type="checkbox">
											<label for="feature_9">Garden</label>
										</li>
										<li>
											<input id="feature_10" class="hide" type="checkbox">
											<label for="feature_10">Fire Place</label>
										</li>
										<li>
											<input id="feature_11" class="hide" type="checkbox">
											<label for="feature_11">Emeargency Exit</label>
										</li>
									</ul>
								</div>
								<div class="col-md-6 col-lg-3">
									<ul class="check_submit">
										<li>
											<input id="feature_12" class="hide" type="checkbox">
											<label for="feature_12">Home Theater</label>
										</li>
										<li>
											<input id="feature_13" class="hide" type="checkbox">
											<label for="feature_13">Gym & Sports</label>
										</li>
									</ul>
								</div>
							</div>
						</div>
				    </div>
				  </div>
				</div>
		  	</div>
		  </div>
		</form>
	</div>
</div>
<!--	Recent Properties
=======================================================-->
<section class="full-row">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="main-title-one">
					<h2 class="title color-primary">Recent Properties</h2>
					<p class="sub-title color-secondery py_60">All of our featured property of this month are include </p>
				</div>
			</div>
		</div>
		<div class="row">
			{% for object in object_list %}
			<div class="col-md-6 col-lg-4">
				<div class="thumbnail_one mb_30">
					<div class="image_area overlay_one overfollow">
						<img src="{{object.main_image.url}}" alt="">
						{% if object.action == 'rent' %}
						<div class="Featured">{{object.get_rent_per_display}}</div>
						{% endif %}
						<div class="sale sale_position bg-primary">For {{object.get_action_display }}</div>
						<div class="area_price price_position">${{object.min_price}}-${{object.max_price}}<span>{{object.views }} views</span></div>
						<div class="starmark starmark_position"><i class="fa fa-star-o" aria-hidden="true"></i></div>
					</div>
					<div class="thum_one_content">
						<div class="thum_title color-secondery pb-4">
							<h5 class="hover_primary"><a href="{{object.get_absolute_url }}">{{object.title}}</a></h5>
							<p><i class="fa fa-map-marker" aria-hidden="true"></i> {{object.location.place}}</p>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}



		</div>
	</div>
</section>
<!--	Featured Properties
============================================================-->
<section class="full-row bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="main-title-one">
					<h2 class="title color-primary">Featured Properties</h2>
					<p class="sub-title color-secondery py_60">All of our featured property of this month are include </p>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="owl-carousel carousel-main">
					<div class="thumbnail_three mb_30">
						<div class="image_area overlay_one overfollow">
							<img src="{% static 'images/thumbnail/02.jpg' %}" alt="">
							<div class="Featured">Featured</div>
							<div class="sale sale_position bg-primary">For Sale</div>
							<div class="area_price price_position">$352,000 <span>1200/Sqft</span></div>
							<div class="starmark starmark_position"><i class="fa fa-star-o" aria-hidden="true"></i></div>
						</div>
						<div class="thum_three_content bg-white color-secondery">
							<div class="thum_title2 icon_default">
								<h5 class="hover_primary"><a href="#">Nirala Appartment</a></h5>
								<p><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue South Burlington, Los Angles</p>
							</div>
						</div>
					</div>
					<div class="thumbnail_three mb_30">
						<div class="image_area overlay_one overfollow">
							<img src="{% static 'images/thumbnail/02.jpg' %}" alt="">
							<div class="Featured">Featured</div>
							<div class="sale sale_position bg-primary">For Sale</div>
							<div class="area_price price_position">$212,000 <span>1200/Sqft</span></div>
							<div class="starmark starmark_position"><i class="fa fa-star-o" aria-hidden="true"></i></div>
						</div>
						<div class="thum_three_content bg-white color-secondery">
							<div class="thum_title2 icon_default">
								<h5 class="hover_primary"><a href="#">Apolo Family Appartment</a></h5>
								<p><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue South Burlington, Los Angles</p>
							</div>
						</div>
					</div>
					<div class="thumbnail_three mb_30">
						<div class="image_area overlay_one overfollow">
							<img src="{% static 'images/thumbnail/02.jpg' %}" alt="">
							<div class="Featured">Featured</div>
							<div class="sale sale_position bg-primary">For Sale</div>
							<div class="area_price price_position">$52,000 <span>1200/Sqft</span></div>
							<div class="starmark starmark_position"><i class="fa fa-star-o" aria-hidden="true"></i></div>
						</div>
						<div class="thum_three_content bg-white color-secondery">
							<div class="thum_title2 icon_default">
								<h5 class="hover_primary"><a href="#">Office Floor In Trade Center</a></h5>
								<p><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue South Burlington, Los Angles</p>
							</div>
						</div>
					</div>
					<div class="thumbnail_three mb_30">
						<div class="image_area overlay_one overfollow">
							<img src="{% static 'images/thumbnail/02.jpg' %}" alt="">
							<div class="Featured">Featured</div>
							<div class="sale sale_position bg-primary">For Sale</div>
							<div class="area_price price_position">$352,000 <span>1200/Sqft</span></div>
							<div class="starmark starmark_position"><i class="fa fa-star-o" aria-hidden="true"></i></div>
						</div>
						<div class="thum_three_content bg-white color-secondery">
							<div class="thum_title2 icon_default">
								<h5 class="hover_primary"><a href="#">Nirala Appartment</a></h5>
								<p><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue South Burlington, Los Angles</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--	Achievement
============================================================-->
<div class="full-row py_80 bg_two overlay_two">
	<div class="container">
		<div class="fact-counter">
			<div class="row">
				<div class="col-md-3 col-lg-3">
				    <div class="counter count wow icon_white color-white text-center flat_medium" data-wow-duration="300ms"><i class="flaticon-house" aria-hidden="true"></i>
		            	<div class="counting_digit color-default pb_5 mt_15 mb-0">
							<span class="count-num" data-speed="3000" data-stop="1732">0</span>
		            	</div>
		            	<div class="ach_name">Property Available</div>
		          	</div>
				</div>
				<div class="col-md-3 col-lg-3">
				    <div class="counter count wow icon_white color-white text-center flat_medium" data-wow-duration="300ms"><i class="flaticon-man" aria-hidden="true"></i>
		            	<div class="counting_digit color-default pb_5 mt_15 mb-0">
							<span class="count-num" data-speed="3000" data-stop="341">0</span>
		            	</div>
		            	<div class="ach_name">Registered Agents</div>
		          	</div>
				</div>
				<div class="col-md-3 col-lg-3">
				    <div class="counter count wow icon_white color-white text-center flat_medium" data-wow-duration="300ms"><i class="flaticon-invention" aria-hidden="true"></i>
		            	<div class="counting_digit color-default pb_5 mt_15 mb-0">
							<span class="count-num" data-speed="3000" data-stop="2350">0</span>
		            	</div>
		            	<div class="ach_name">People Are Invested</div>
		          	</div>
				</div>
				<div class="col-md-3 col-lg-3">
				    <div class="counter count wow icon_white color-white text-center flat_medium" data-wow-duration="300ms"><i class="flaticon-investment" aria-hidden="true"></i>
		            	<div class="counting_digit color-default pb_5 mt_15 mb-0">
							<span class="count-num" data-speed="3000" data-stop="13780">0K</span>
		            	</div>
		            	<div class="ach_name">Total Investment</div>
		          	</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--	Text Block One
======================================================-->
<section class="full-row bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="main-title-one">
					<h2 class="title color-primary">What We Do</h2>
					<p class="sub-title color-secondery py_60">We listed our oppertunity and servies as a real estate company</p>
				</div>
			</div>
		</div>
		<div class="text-box-one">
			<div class="row">
				<div class="col-md-6 col-lg-3">
					<div class="box-one p-4 text-center icon_default icon_font rounded mb-4">
						<i class="flaticon-rent" aria-hidden="true"></i>
						<h5 class="hover_primary py_15 m-0"><a href="#">Selling Service</a></h5>
						<p class="color-secondery">Lacinia tempor tortor nibh. Et mattis cubilia suspendisse cras justo potenti.</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="box-one p-4 text-center icon_default icon_font rounded mb-4">
						<i class="flaticon-for-rent" aria-hidden="true"></i>
						<h5 class="hover_primary py_15 m-0"><a href="#">Rental Service</a></h5>
						<p class="color-secondery">Lacinia tempor tortor nibh. Et mattis cubilia suspendisse cras justo potenti.</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="box-one p-4 text-center icon_default icon_font rounded mb-4">
						<i class="flaticon-list" aria-hidden="true"></i>
						<h5 class="hover_primary py_15 m-0"><a href="#">Property Listing</a></h5>
						<p class="color-secondery">Lacinia tempor tortor nibh. Et mattis cubilia suspendisse cras justo potenti.</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="box-one p-4 text-center icon_default icon_font rounded mb-4">
						<i class="flaticon-diagram" aria-hidden="true"></i>
						<h5 class="hover_primary py_15 m-0"><a href="#">Legal Investment</a></h5>
						<p class="color-secondery">Lacinia tempor tortor nibh. Et mattis cubilia suspendisse cras justo potenti.</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="box-one p-4 text-center icon_default icon_font rounded mb-4">
						<i class="flaticon-real-estate" aria-hidden="true"></i>
						<h5 class="hover_primary py_15 m-0"><a href="#">Manage Property</a></h5>
						<p class="color-secondery">Lacinia tempor tortor nibh. Et mattis cubilia suspendisse cras justo potenti.</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="box-one p-4 text-center icon_default icon_font rounded mb-4">
						<i class="flaticon-sketch" aria-hidden="true"></i>
						<h5 class="hover_primary py_15 m-0"><a href="#">Building Architecture</a></h5>
						<p class="color-secondery">Lacinia tempor tortor nibh. Et mattis cubilia suspendisse cras justo potenti.</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="box-one p-4 text-center icon_default icon_font rounded mb-4">
						<i class="flaticon-seller-1" aria-hidden="true"></i>
						<h5 class="hover_primary py_15 m-0"><a href="#">Register Agents</a></h5>
						<p class="color-secondery">Lacinia tempor tortor nibh. Et mattis cubilia suspendisse cras justo potenti.</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="box-one p-4 text-center icon_default icon_font rounded mb-4">
						<i class="flaticon-increase" aria-hidden="true"></i>
						<h5 class="hover_primary py_15 m-0"><a href="#">Increase Value</a></h5>
						<p class="color-secondery">Lacinia tempor tortor nibh. Et mattis cubilia suspendisse cras justo potenti.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--	Price Table
============================================================-->
<section class="full-row">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="main-title-one">
					<h2 class="title color-primary">Agent Listing Plans</h2>
					<p class="sub-title color-secondery py_60">We listed our oppertunity and servies as a real estate company</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="price_table1 py_80">
					<div class="row">
						<div class="col-md-12 col-lg-4">
							<div class="pricing1 text-center color-secondery">
								<div class="price_top bg-gray">
									<h4 class="color-primary">Basic</h4>
									<h3 class="color-default">$0.00</h3>
									<p>Free of charge one standard listing active for 30 days</p>
								</div>
								<div class="price_list pb_30">
									<ul>
										<li>One Category Listing</li>
										<li>30 Days Free</li>
										<li>Email Support</li>
										<li>No Payment Gurantee</li>
										<li>Primary Certification</li>
										<li>Free Serach Engine</li>
									</ul>
								</div>
								<a class="btn btn-default1 mb_30" href="#">Register Now</a>
							</div>
						</div>
						<div class="col-md-12 col-lg-4">
							<div class="pricing1 active text-center bg-white">
								<div class="price_top bg-default color-white">
									<h4>Standard</h4>
									<h3 class="color-white">$79.99 <sub>/ mo</sub></h3>
									<p>Free of charge one standard listing active for 30 days</p>
								</div>
								<div class="price_list color-secondery pb_30">
									<ul>
										<li>Unlimited Category Listing</li>
										<li>No Extra Charges</li>
										<li>Email Support</li>
										<li>100% Payment Gurantee</li>
										<li>Premium Certification</li>
										<li>High Rank Serach Engine</li>
									</ul>
								</div>
								<a class="btn btn-default1 mb_30" href="#">Register Now</a>
								<div class="free bg-default color-white">Start 10 Days Free Trial</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-4">
							<div class="pricing1 text-center color-secondery">
								<div class="price_top bg-gray">
									<h4 class="color-primary">Professional</h4>
									<h3 class="color-default">$79.99 <sub>/ mo</sub></h3>
									<p>Free of charge one standard listing active for 30 days</p>
								</div>
								<div class="price_list pb_30">
									<ul>
										<li>One Category Listing</li>
										<li>30 Days Free</li>
										<li>Email Support</li>
										<li>No Payment Gurantee</li>
										<li>Primary Certification</li>
										<li>Free Serach Engine</li>
									</ul>
								</div>
								<a class="btn btn-default1 mb_30" href="#">Register Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--	Massage Box Two
============================================================-->
<div class="full-row py_80 bg_three overlay_two">
	<div class="container">
		<div class="row">
			<div class="col-mg-12 col-lg-12">
				<h3 class="text-white z-99 text-center">Spend Your Time Easy and Flexible to Living</h3>
			</div>
		</div>
	</div>
</div>
<!--	Partner
===========================================================-->
<section class="full-row">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="main-title-one">
					<h2 class="title color-primary">Whome We Worked</h2>
					<p class="sub-title color-secondery py_60">We listed our oppertunity and servies as a real estate company</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="partner">
					<div class="owl-carousel partners">
						<img src="{% static 'images/partner/1.png' %}" alt="">
						<img src="{% static 'images/partner/2.png' %}" alt="">
						<img src="{% static 'images/partner/3.png' %}" alt="">
						<img src="{% static 'images/partner/4.png' %}" alt="">
						<img src="{% static 'images/partner/5.png' %}" alt="">
						<img src="{% static 'images/partner/3.png' %}" alt="">
						<img src="{% static 'images/partner/1.png' %}" alt="">
						<img src="{% static 'images/partner/2.png' %}" alt="">
						<img src="{% static 'images/partner/3.png' %}" alt="">
						<img src="{% static 'images/partner/4.png' %}" alt="">
						<img src="{% static 'images/partner/5.png' %}" alt="">
						<img src="{% static 'images/partner/3.png' %}" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}