{% extends 'site/base.html' %}
{% load static %}

{% block content %}

	<div class="page-banner bg-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="breadcrumbs color-secondery">
						<ul>
							<li class="hover_gray"><a href="#">Home</a></li>
							<li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
							<li class="hover_gray"><a href="#">Pages</a></li>
							<li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
							<li>Property Grid</li>
						</ul>
					</div>
					<div class="float-right color-primary">
						<h3 class="banner-title font-weight-bold">Property Grid</h3>
					</div>
				</div>
			</div>
		</div>
	</div>


<!--	Property Grid
===============================================================-->
<section class="full-row">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="row">
					<div class="col-lg-12">
						<form class="top_filter pb-4">
							<div class="row">
								<div class="col-md-9 col-lg-9">
									<div class="short_by">
										<label>Shorts By :</label>
										<div class="form-group m-0 pr-5">
											<select class="form-control bg-gray border-none">
											  <option>Default Order</option>
											  <option>Newest First</option>
											  <option>Oldest First</option>
											  <option>Top Rated</option>
											  <option>Most Popular</option>
											</select>
										</div>
										<label>1-10 of 25 results</label>
									</div>
								</div>
								<div class="col-md-3 col-lg-3">
									<div class="property-view py-1 float-right color-primary-a">
										<a href="property_grid_full.html" class="active"><i class="fa fa-th-large" aria-hidden="true"></i></a>
										<a href="property_list_full.html"><i class="fa fa-th-list" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-lg-4">
						<div class="thumbnail_one mb_30 color-secondery">
							<div class="image_area overlay_one overfollow">
								<img src="{% static 'images/thumbnail/01.jpg' %}" alt="">
								<div class="Featured">New</div>
								<div class="sale sale_position bg-primary">For Sale</div>
								<div class="area_price price_position">$352,000 <span>$1200/Sqft</span></div>
								<div class="starmark starmark_position"><i class="fa fa-star-o" aria-hidden="true"></i></div>
							</div>
							<div class="thum_one_content">
								<div class="thum_title">
									<h5 class="hover_primary"><a href="property_single_1.html">Nirala Appartment</a></h5>
									<p><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue South Burlington, Los Angles</p>
								</div>
								<div class="ft_area p_20">
									<div class="post_author"><i class="fa fa-user" aria-hidden="true"></i> Jeson Billiam</div>
									<div class="post_date float-right"><i class="fa fa-calendar-o" aria-hidden="true"></i> 6 Months Ago</div>
								</div>
							</div>
					    </div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="thumbnail_one mb_30 color-secondery">
							<div class="image_area overlay_one overfollow">
								<img src="{% static 'images/thumbnail/01.jpg' %}" alt="">

								<div class="sale sale_position bg-primary">For Sale</div>
								<div class="area_price price_position">$212,000 <span>$1200/Sqft</span></div>
								<div class="starmark starmark_position"><i class="fa fa-star-o" aria-hidden="true"></i></div>
							</div>
							<div class="thum_one_content">
								<div class="thum_title">
									<h5 class="hover_primary"><a href="property_single_1.html">Apolo Family Appartment</a></h5>
									<p><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue South Burlington, Los Angles</p>
								</div>
								<div class="ft_area p_20">
									<div class="post_author"><i class="fa fa-user" aria-hidden="true"></i> Jeson Billiam</div>
									<div class="post_date float-right"><i class="fa fa-calendar-o" aria-hidden="true"></i> 6 Months Ago</div>
								</div>
							</div>
					    </div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="thumbnail_one mb_30 color-secondery">
							<div class="image_area overlay_one overfollow">
								<img src="{% static 'images/thumbnail/01.jpg' %}" alt="">
								<div class="sale sale_position bg-primary">For Sale</div>
								<div class="area_price price_position">$52,000 <span>$1200/Sqft</span></div>
								<div class="starmark starmark_position"><i class="fa fa-star-o" aria-hidden="true"></i></div>
							</div>
							<div class="thum_one_content">
								<div class="thum_title">
									<h5 class="hover_primary"><a href="property_single_1.html">Office Floor In Trade Center</a></h5>
									<p><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue South Burlington, Los Angles</p>
								</div>
								<div class="ft_area p_20">
									<div class="post_author"><i class="fa fa-user" aria-hidden="true"></i> Jeson Billiam</div>
									<div class="post_date float-right"><i class="fa fa-calendar-o" aria-hidden="true"></i> 6 Months Ago</div>
								</div>
							</div>
					    </div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="thumbnail_one mb_30 color-secondery">
							<div class="image_area overlay_one overfollow">
								<img src="{% static 'images/thumbnail/01.jpg' %}" alt="">

								<div class="sale sale_position bg-primary">For Sale</div>
								<div class="area_price price_position">$172,000 <span>$170/Sqft</span></div>
								<div class="starmark starmark_position"><i class="fa fa-star-o" aria-hidden="true"></i></div>
							</div>
							<div class="thum_one_content">
								<div class="thum_title">
									<h5 class="hover_primary"><a href="property_single_1.html">Himalia Luxury Condos</a></h5>
									<p><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue South Burlington, Los Angles</p>
								</div>
								<div class="ft_area p_20">
									<div class="post_author"><i class="fa fa-user" aria-hidden="true"></i> Jeson Billiam</div>
									<div class="post_date float-right"><i class="fa fa-calendar-o" aria-hidden="true"></i> 6 Months Ago</div>
								</div>
							</div>
					    </div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="thumbnail_one mb_30 color-secondery">
							<div class="image_area overlay_one overfollow">
								<img src="{% static 'images/thumbnail/01.jpg' %}" alt="">
								<div class="Featured">10% Sals</div>
								<div class="sale sale_position bg-primary">For Sale</div>
								<div class="area_price price_position">$386,000 <span>Fixed Amount</span></div>
								<div class="starmark starmark_position"><i class="fa fa-star-o" aria-hidden="true"></i></div>
							</div>
							<div class="thum_one_content">
								<div class="thum_title">
									<h5 class="hover_primary"><a href="property_single_1.html">Gulfishan 2 Story Building</a></h5>
									<p><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue South Burlington, Los Angles</p>
								</div>
								<div class="ft_area p_20">
									<div class="post_author"><i class="fa fa-user" aria-hidden="true"></i> Jeson Billiam</div>
									<div class="post_date float-right"><i class="fa fa-calendar-o" aria-hidden="true"></i> 6 Months Ago</div>
								</div>
							</div>
					    </div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="thumbnail_one mb_30 color-secondery">
							<div class="image_area overlay_one overfollow">
								<img src="{% static 'images/thumbnail/01.jpg' %}" alt="">
								<div class="Featured">New</div>
								<div class="sale sale_position bg-primary">For Sale</div>
								<div class="area_price price_position">$582,000 <span>$2430/Sqft</span></div>
								<div class="starmark starmark_position"><i class="fa fa-star-o" aria-hidden="true"></i></div>
							</div>
							<div class="thum_one_content">
								<div class="thum_title">
									<h5 class="hover_primary"><a href="property_single_1.html">Office Floor In Trade Center</a></h5>
									<p><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue South Burlington, Los Angles</p>
								</div>
								<div class="ft_area p_20">
									<div class="post_author"><i class="fa fa-user" aria-hidden="true"></i> Jeson Billiam</div>
									<div class="post_date float-right"><i class="fa fa-calendar-o" aria-hidden="true"></i> 6 Months Ago</div>
								</div>
							</div>
					    </div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="thumbnail_one mb_30 color-secondery">
							<div class="image_area overlay_one overfollow">
								<img src="{% static 'images/thumbnail/01.jpg' %}" alt="">
								<div class="sale sale_position bg-primary">For Sale</div>
								<div class="area_price price_position">$582,000 <span>$2430/Sqft</span></div>
								<div class="starmark starmark_position"><i class="fa fa-star-o" aria-hidden="true"></i></div>
							</div>
							<div class="thum_one_content">
								<div class="thum_title">
									<h5 class="hover_primary"><a href="property_single_1.html">Office Floor In Trade Center</a></h5>
									<p><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue South Burlington, Los Angles</p>
								</div>
								<div class="ft_area p_20">
									<div class="post_author"><i class="fa fa-user" aria-hidden="true"></i> Jeson Billiam</div>
									<div class="post_date float-right"><i class="fa fa-calendar-o" aria-hidden="true"></i> 6 Months Ago</div>
								</div>
							</div>
					    </div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="thumbnail_one mb_30 color-secondery">
							<div class="image_area overlay_one overfollow">
								<img src="{% static 'images/thumbnail/01.jpg' %}" alt="">
								<div class="Featured">Featured</div>
								<div class="sale sale_position bg-primary">For Sale</div>
								<div class="area_price price_position">$582,000 <span>$2430/Sqft</span></div>
								<div class="starmark starmark_position"><i class="fa fa-star-o" aria-hidden="true"></i></div>
							</div>
							<div class="thum_one_content">
								<div class="thum_title">
									<h5 class="hover_primary"><a href="property_single_1.html">Office Floor In Trade Center</a></h5>
									<p><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue South Burlington, Los Angles</p>
								</div>
								<div class="ft_area p_20">
									<div class="post_author"><i class="fa fa-user" aria-hidden="true"></i> Jeson Billiam</div>
									<div class="post_date float-right"><i class="fa fa-calendar-o" aria-hidden="true"></i> 6 Months Ago</div>
								</div>
							</div>
					    </div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="thumbnail_one mb_30 color-secondery">
							<div class="image_area overlay_one overfollow">
								<img src="{% static 'images/thumbnail/01.jpg' %}" alt="">
								<div class="Featured">Featured</div>
								<div class="sale sale_position bg-primary">For Sale</div>
								<div class="area_price price_position">$582,000 <span>$2430/Sqft</span></div>
								<div class="starmark starmark_position"><i class="fa fa-star-o" aria-hidden="true"></i></div>
							</div>
							<div class="thum_one_content">
								<div class="thum_title">
									<h5 class="hover_primary"><a href="property_single_1.html">Office Floor In Trade Center</a></h5>
									<p><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue South Burlington, Los Angles</p>
								</div>
								<div class="ft_area p_20">
									<div class="post_author"><i class="fa fa-user" aria-hidden="true"></i> Jeson Billiam</div>
									<div class="post_date float-right"><i class="fa fa-calendar-o" aria-hidden="true"></i> 6 Months Ago</div>
								</div>
							</div>
					    </div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="thumbnail_one mb_30 color-secondery">
							<div class="image_area overlay_one overfollow">
								<img src="{% static 'images/thumbnail/01.jpg' %}" alt="">
								<div class="sale sale_position bg-primary">For Sale</div>
								<div class="area_price price_position">$582,000 <span>$2430/Sqft</span></div>
								<div class="starmark starmark_position"><i class="fa fa-star-o" aria-hidden="true"></i></div>
							</div>
							<div class="thum_one_content">
								<div class="thum_title">
									<h5 class="hover_primary"><a href="property_single_1.html">Office Floor In Trade Center</a></h5>
									<p><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue South Burlington, Los Angles</p>
								</div>
								<div class="ft_area p_20">
									<div class="post_author"><i class="fa fa-user" aria-hidden="true"></i> Jeson Billiam</div>
									<div class="post_date float-right"><i class="fa fa-calendar-o" aria-hidden="true"></i> 6 Months Ago</div>
								</div>
							</div>
					    </div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="thumbnail_one mb_30 color-secondery">
							<div class="image_area overlay_one overfollow">
								<img src="{% static 'images/thumbnail/01.jpg' %}" alt="">
								<div class="Featured">Featured</div>
								<div class="sale sale_position bg-primary">For Sale</div>
								<div class="area_price price_position">$582,000 <span>$2430/Sqft</span></div>
								<div class="starmark starmark_position"><i class="fa fa-star-o" aria-hidden="true"></i></div>
							</div>
							<div class="thum_one_content">
								<div class="thum_title">
									<h5 class="hover_primary"><a href="property_single_1.html">Office Floor In Trade Center</a></h5>
									<p><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue South Burlington, Los Angles</p>
								</div>
								<div class="ft_area p_20">
									<div class="post_author"><i class="fa fa-user" aria-hidden="true"></i> Jeson Billiam</div>
									<div class="post_date float-right"><i class="fa fa-calendar-o" aria-hidden="true"></i> 6 Months Ago</div>
								</div>
							</div>
					    </div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="thumbnail_one mb_30 color-secondery">
							<div class="image_area overlay_one overfollow">
								<img src="{% static 'images/thumbnail/01.jpg' %}" alt="">
								<div class="sale sale_position bg-primary">For Sale</div>
								<div class="area_price price_position">$582,000 <span>$2430/Sqft</span></div>
								<div class="starmark starmark_position"><i class="fa fa-star-o" aria-hidden="true"></i></div>
							</div>
							<div class="thum_one_content">
								<div class="thum_title">
									<h5 class="hover_primary"><a href="property_single_1.html">Office Floor In Trade Center</a></h5>
									<p><i class="fa fa-map-marker" aria-hidden="true"></i> Avenue South Burlington, Los Angles</p>
								</div>
								<div class="ft_area p_20">
									<div class="post_author"><i class="fa fa-user" aria-hidden="true"></i> Jeson Billiam</div>
									<div class="post_date float-right"><i class="fa fa-calendar-o" aria-hidden="true"></i> 6 Months Ago</div>
								</div>
							</div>
					    </div>
					</div>
				</div>
				<nav aria-label="Page navigation" class="alinment d-table">
				  <ul class="pagination mt_30">
				    <li class="page-item"><a class="page-link active" href="#">Previous</a></li>
				    <li class="page-item"><a class="page-link" href="#">1</a></li>
				    <li class="page-item"><a class="page-link" href="#">2</a></li>
				    <li class="page-item"><a class="page-link" href="#">3</a></li>
				    <li class="page-item">...</li>
				    <li class="page-item"><a class="page-link" href="#">45</a></li>
				    <li class="page-item"><a class="page-link active" href="#">Next</a></li>
				  </ul>
				</nav>
			</div>
		</div>
	</div>
</section>

{% endblock content %}