{% extends 'dashboard_base.html' %}
{% load static %}

{% block body %}


				<div class="col-md-11 col-xl-10 bg-gray">
					<div class="row">
						<div class="full-row deshbord_panel w-100 mb-5">
							<h4 class="color-primary mb-4">Enquire Request List</h4>

							<div class="items_list color-secondery">
								<table class="w-100">
									<thead>
										<tr>
											<th>Id</th>
											<th>Name</th>
											<th>Property</th>
											<th>Date/Time</th>
											<th>Contact Info</th>
											<th>Exception</th>
										</tr>
									</thead>
									<tbody>
									{% for object in object_list %}
										<tr>
											<td>#{{objec.id}}</td>
											<td>{{ object.name }}</td>
											<td>
												<h6 class="color-primary">{{ object.property.title}}</h6>
												<p>{{ object.property.location.place}}</p>
											</td>
											<td>{{ object.time}}</td>
											<td>
												<span>{{ object.phone }}</span>
												<span>{{ object.email }}</span>
												<br> <br>
												Message:<p>{{object.message}}</p>
											</td>
											<td>
												<a href="{{ object.property.get_absolute_url }}" class="btn btn-default1 mr-1">View</a>

												<button type="button" class="btn btn-default1" data-toggle="modal" data-target="#rahi{{object.id}}">Delete</button>
											<!-- delete modal Modal -->
											<div class="modal fade" id="rahi{{object.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
											  <div class="modal-dialog" role="document">
												<div class="modal-content">
												  <div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Delete Enquiry Request</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													  <span aria-hidden="true">&times;</span>
													</button>
												  </div>

													<form method="POST" action="{{ object.get_come_delete_url }}" enctype="multipart/form-data">
														{% csrf_token %}
												  <div class="modal-body">
													Are You Sure To Delete This Enquiry Request??
												  </div>
												  <div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
													<button type="submit" class="btn btn-primary">Yes</button>
												  </div>
														</form>

												</div>
											  </div>
											</div>

											</td>
										</tr>
											{% empty %}
								You have no Enquiry to Show

									{% endfor %}

									</tbody>
								</table>
							</div>


						</div>
						<div class="dashboard_copyright bg-white py-4 color-secondery text-center">© 2019 Homex All right reserved</div>
					</div>
				</div>
{% endblock %}