{% extends 'dashboard_base.html' %}
{% load static %}

{% block body %}
 		<div class="col-md-11 col-xl-10 bg-gray">
					<div class="row">
						<div class="full-row deshbord_panel w-100 mb-5">
							<h4 class="color-primary mb-4">Make Offer On Your Item’s List</h4>
							{% if messages %}
						{% for message in messages %}
						<div class="alert alert-{{message.tags}} alert-dismissible">
					  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					  <strong>{{message.tags}}!</strong> {{message}}
						</div>
						 {% endfor %}
							{% endif %}
							<div class="items_list bg_transparent color-secondery icon_default">
								<table class="w-100">
									<thead>
										<tr class="bg-white">
											<th>Properties</th>
											<th>Featured Date</th>
											<th>Offer</th>
											<th>Reason</th>

											<th>Action</th>
										</tr>
									</thead>
									<tbody>
									{% for object in object_list %}
										<tr>
											<td>
												<img src="{{object.property.main_image.url}}" alt="">
												<div class="property_info d-table">
													<h4 class="color-primary notranslate">{{object.property.title}}</h4>
													<span class="location notranslate"><i class="fa fa-map-marker" aria-hidden="true"></i> {{object.property.location.place}}</span>
													<div class="price mt-3">
														<span class="color-default notranslate">{{object.property.max_price}}-{{object.property.min_price }}</span>

													</div>
												</div>
											</td>
											<td>{{object.time}}</td>
											<td>{{object.discount }}% Off</td>
											<td>For {{object.property.get_action_display}}</td>

											<td>

												<a href="{% url 'dashboard:make_offer' pk=object.property.pk slug=object.property.slug %}" class="btn btn-default1">Edit</a>
												<a style="margin:5px" href="{{object.id}}" class="btn btn-default1" data-toggle="modal" data-target="#rahi{{object.id}}" >Remove</a>


											<!-- delete modal Modal -->
											<div class="modal fade" id="rahi{{object.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
											  <div class="modal-dialog" role="document">
												<div class="modal-content">
												  <div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Remove Offer?</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													  <span aria-hidden="true">&times;</span>
													</button>
												  </div>

													<form method="POST" action="{{object.get_delete_url}}" enctype="multipart/form-data">
														{% csrf_token %}
												  <div class="modal-body">
													Are You Sure To Remove This Offer?
												  </div>
												  <div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
													<button type="submit" class="btn btn-primary">Yes</button>
												  </div>
														</form>

												</div>
											  </div>
											</div>


											</td>
										</tr>
									{% empty %}
									<p>No Offer for Your Property</p>
									{% endfor %}



									</tbody>
								</table>
							</div>
						</div>
 					</div>
				</div>
{% endblock body %}